<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/header') %>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
</head>
<body>
  <%- include('../common/nav') %>

  <div class="container">
    <h1>Form</h1>
    <form action="/admin/stores" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label"><h3>Title</h3></label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label"><h3>Content</h3></label>
        <input type="text" class="form-control" id="content" name="content">
      </div>
      <div class="mb-3">
        <label for="part" class="form-label"><h3>Part</h3></label>
        <select id="part" class="form-select" name="part">
          <option>식당</option>
          <option>카페</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="addr" class="form-label"><h3>Address</h3></label>
        <div class="input-group">
          <input type="text" class="form-control" id="addr" name="addr" readonly>
          <button type="button" class="btn btn-secondary"onclick="execDaumPostCode()">주소검색</button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>

<script>
function execDaumPostCode() {
    new daum.Postcode({
        oncomplete: function(data) {
            var address = data.address; // 최종 주소 변수

            // 주소 정보를 해당 필드에 넣는다.
            document.getElementById("addr").value = address;
        }
    }).open();
}
</script>

</html>