<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/header') %>
</head>
<body>
  <%- include('../common/nav') %>

  <div class="container">
    <h1>Form</h1>
    <form action="/admin/stores" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input type="text" class="form-control" id="content" name="content">
      </div>
      <div class="mb-3">
        <label for="part" class="form-label">Part</label>
        <select id="part" class="form-select" name="part">
          <option>식당</option>
          <option>카페</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="addr" class="form-label">Address</label>
        <input type="text" class="form-control" id="addr" name="addr">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>