<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <div class="navbar-brand">Scene</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbartoggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbartoggle">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link" onclick="main()">제주</a></li>
        <li class="nav-item"><a href="#" class="nav-link" onclick="intro()">소개</a></li>
      </ul>
    </div>
  </div>
</nav>